.container {
	position:relative;
	width:350px;
	height:350px;
	justify-content:justify;
	border-radius:40px;
}
.thecard {
	position:absolute;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	transition:all 0.5s ease;
	background:yellow;
	border-radius:40px;
	justify-content:justify;
}
.thecard:hover {
	transform:rotateY(180deg);
}
.thefront {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	background:#ffc728;
	color:#00000;
	border-radius:40px;
	justify-content:justify;
}
.theback {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	background:#ffc728;
	color:#000000;
	transform:rotateY(180deg);
	border-radius:40px;
	justify-content:justify;
}
.a1{
	position:absolute;
	margin-top:50%;
	margin-left:40%;
}.a2{
	position:absolute;
	margin-top:50%;
	margin-left:15%;
}
.a3 {
	text-align:center;
}
.SEND {
	BACKGROUND:#ffcc00;
	border-radius:40px;
	width:140px;
	position:absolute;
	bottom:-60;
	left:45%;
}
.span {
	font-family:Times New Roman;
	font-size:15;
}
.container2 {
	position:relative;
	width:350px;
	height:350px;
	justify-content:justify;
	border-radius:40px;
}
.thecard2 {
	position:absolute;
	bottom:100%;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	transition:all 0.5s ease;
	background:yellow;
	border-radius:40px;
	justify-content:justify;
}
.thecard2:hover {
	transform:rotateY(180deg);
}
.thefront2 {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	background:#ffc728;
	color:#00000;
	border-radius:40px;
	justify-content:justify;
}
.theback2 {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	background:#ffc728;
	color:#000000;
	transform:rotateY(180deg);
	border-radius:40px;
	justify-content:justify;
}
.a4{
	position:absolute;
	margin-top:50%;
	margin-left:-10%;
}.a5{
	position:absolute;
	margin-top:50%;
	margin-left:-30%;
}.container3 {
	position:relative;
	width:350px;
	height:350px;
	justify-content:justify;
	left:70%;
	bottom:56%;
	border-radius:40px;
}
.thecard3 {
	position:absolute;
	bottom:100%;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	transition:all 0.5s ease;
	background:yellow;
	border-radius:40px;
	justify-content:justify;
}
.thecard3:hover {
	transform:rotateY(180deg);
}
.thefront3 {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	background:#ffc728;
	color:#00000;
	border-radius:40px;
	justify-content:justify;
}
.theback3 {
	position:absolute;
	width:100%;
	height:100%;
	backface-visibility:hidden;
	background:#ffc728;
	color:#000000;
	transform:rotateY(180deg);
	border-radius:40px;
	justify-content:justify;
}
.a6{
	position:absolute;
	margin-top:45%;
	margin-left:30%;
}.a7{
	position:absolute;
	margin-top:30%;
	margin-left:20%;
}

